<div class="navbar-banner" id="primary-navigation">
	<div class="desktop">
		<h5>我要爆料</h5>
		<ul class="contact-details">
			<li>24hr-Hotline:&nbsp;<span>1800-8227288 / 91918727</span></li>
			<li>Email:&nbsp;<span>shinmin@sph.com.sg</span></li>
			<li>MMS/WhatsApp:&nbsp;<span>91918727</span></li>
		</ul>
	</div><a class="fb-link" href="https://www.facebook.com/shinmindailynewsxinmingribao/" target="_blank"><i class="fa-brands fa-facebook-f"></i></a>
</div>